.txt-topic {
    color:red;
    background-color:yellow;
    font-size:4rem;
    font-weight:900;
}

.txt-detail {
    color:blue;
    font-size:2rem;
    font-style: italic;
}

.txt-topic:hover {
    color:rgb(255, 255, 255);
    background-color: black;
    cursor:pointer
}

#navbar {
    background-color: lightgray;
    color:white
    
}

p,h1,h2,h3,a {
    font-family: 'Segoe UI', sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}